.card-main {
  width: 320px;
  height: 520px;
  /* border: 1px solid rgb(241, 6, 6); */
  border-radius: 15px;
}
@media only screen and (max-width: 468px) {
  .card-main {
    width: 300px;
    height: 520px;
    /* border: 1px solid rgb(241, 6, 6); */
    border-radius: 15px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .card-reaction {
    width: 33%;
    height: 100%;
    background-color: #ff076d;
    padding: 5px;
    border-right: 1px solid #bb0b54;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;

    /* border-radius: 5px; */
  }
}
.blog-image img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}
.card-reaction {
  width: 33%;
  height: 100%;
  background-color: #ff076d;
  padding: 5px;
  border-right: 1px solid #bb0b54;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  /* border-radius: 5px; */
}
.card-reaction3 {
  width: 34%;
}
.blogs-section {
  color: rgb(6, 145, 29);
  font-size: 32px;
}
.blog-title {
  color: #072cff;
}
.more-blogs {
  margin-bottom: 130px;
  margin-top: 80px;
}
.btn-secondary a {
  text-decoration: none;
  color: white;
}
